#tweet-box {
    margin: 0.5rem 0.5rem 0.5rem 2rem;
    border-radius: 0.3rem;
    display: inline-block;
    transition: background-color 2s;
}
a, a:visited {
    color: inherit;
}

i {
    margin: 0.5rem;
    font-size: 2rem;
}