.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transition: background-color 2s;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow-y: auto;
}
header {
  font-family: 'cursive', inherit;
  font-size: 3rem;
  margin: 2rem 0;
  color: whitesmoke;
}
@media (max-width: 40rem) {
  header {
    font-size: 2rem;
  }
}
#searching-for {
  padding-top: 0.5rem;
  color: whitesmoke;
}
#dropdown {
  margin-top: 1rem;
}

